/* ======================================================= */
/* ================ Initializing CSS ===================== */
/* ======================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #005FAC;
    background-color: #FFFFFF;
}

li {
    list-style: none;
}


/* ======================================================= */
/* ================ Font Style =========================== */
/* ======================================================= */
/* Text properties of Title */
.b-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

/* Text properties of description, list */
.s-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


/* ======================================================= */
/* ================ Colors =============================== */
/* ======================================================= */
/* Primary and Secondary Text Color */
.p-color {
    color: #151414;
}

.s-color {
    color: #444343;
}


/* ======================================================= */
/* ================ Header =============================== */
/* ======================================================= */
header.header {
    text-align: right;
    background-image: url(./assets/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    width: 100%;
    padding-top: 200px;
    padding-right: 120px;
    margin-bottom: 130px;
}

header.header .header-container {
    width: 500px;
    margin-left: auto;
}

header.header h1,
header.header p {
    color: #FFFFFF;
}

header.header h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    margin-bottom: 24px;
}

header.header p {
    margin-bottom: 32px;
}

header.header a {
    padding: 20px 26px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border-radius: 5px;
}


/* ======================================================= */
/* ================ Main ================================= */
/* ======================================================= */
main {
    width: 1072px;
    margin: 0 auto;
}

/* ================ Previous Year Section ================ */
.pre-year {
    margin-bottom: 130px;
}

.pre-year .pre-year-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pre-year .pre-year-item {
    width: 50%
}

.pre-year .img-item {
    padding-right: 90px;
    text-align: right;
}

.pre-year img {
    width: 500px;
}

.pre-year .text-item {
    padding-left: 90px;
    padding-bottom: 80px;
}

.pre-year h1 {
    margin-bottom: 24px;
}

.pre-year p {
    margin-bottom: 16px;
}

.pre-year li:before {
    content:"\2713\0020";
    color: #16D887;
}

